.header {
    width: 100%;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }