.resources__logo {
    width: 270px;
    height: 38px;
    display: flex;
    justify-content: center;
    /*align-items: center; по непонятным причинам с этим свойством логотипы становятся на по центру, а уезжают вверх, но так как высота ячейки и самой картинки одинаковая, она ровно встает в свое место*/
}